<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STEM Preloader</title>
  <link rel="stylesheet" href="style.css">
</head>
<body class="pre-body">
  <div class="preloader">
    <div class="square-container">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>
    <div class="text">STEM</div>
  </div>
  <script src="main.js"></script>
</body>
</html>
