/* Google font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Color Variable */
:root{
    --orange: hsl(36, 80%, 50%);
    --white: hsl(0, 0%, 100%);
    --WHITE: hsl(0, 0%, 100%);
    --BLACK: hsl(0, 0%, 0%);
    --black-90: hsl(0, 0%, 10%);
    --black-70: hsl(0, 0%, 30%);
    --black-alpha-40: hsla(0, 0%, 0%, 0.4);
    --yellow-light: hsl(44, 95%, 85%);
    --green-light: hsl(158, 68%, 75%);
    --red-light: hsl(0, 84%, 80%);
    --orange-light: hsl(22, 85%, 80%);
    --select-box-bg-color: hsl(0, 0%, 100%);
    --border-color-1: hsl(0, 0%, 90%);
}

body.dark{
    --body-bg-color: hsl(240, 10%, 19%);
    --black-70: hsl(0, 0%, 87%);
    --black-90:hsl(0, 0%, 100%);
    --shadow: 0 0 10px hsla(0, 0%, 0%, 0.08);
    --white: hsl(240, 8%, 21%);
    --WHITE: hsl(240, 8%, 21%);
    --select-box-bg-color: hsl(240, 8%, 21%);
    --border-color-1: hsl(240, 9%, 25%);
    --border-color-2:  hsl(240, 9%, 30%);
    --red-light:hsl(240, 6%, 16%);
    --yellow-light:hsl(240, 6%, 16%);
    --orange-light: hsl(240, 6%, 16%);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-bg-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--black-70);
    min-height: 100vh;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    color: var(--black-90);
    line-height: 1.4;
}
a{
    color: var(--main-color);
    text-decoration: none;
}

a:hover{
    color: var(--main-color);
}

img{
    max-width: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

::selection{
    color: var(--WHITE);
    background-color: var(--main-color);
}

/*Style Switcher Toggler Styling */
.style-switcher{
    width: 250px;
    height: 50%;
    top: 25%;
    bottom: 25%;
    right: -250px;
    padding: 20px;
    background: var(--WHITE);
    box-shadow: var(--shadow);
    z-index: 10;
    position: fixed;
    border-radius: 10px 0 0 10px;
    transition: right 0.3s ease;
}
.style-switcher.open{
    right: 0;
}
.style-switcher-toggler{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 40%;
    left: -45px;
    background-color: var(--main-color);
    color: var(--WHITE);
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    /* animation: spin1 10s linear infinite; */
}
/* @keyframes spin1 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
} */

.style-switcher h4{
    color: var(--main-color);
    font-size: 18px;
    padding: 0 0 10px;
}
.style-switcher p{
    font-size: 14px;
}

.style-switcher-item{
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color-1);
}
.style-switcher-item .theme-color button{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
}
.theme-color button::before{
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 12px;
    color: var(--WHITE);
    transition: all 0.3s ease;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.theme-color button.active::before{
    opacity: 1;
}

.theme-color{
    padding: 0 0 15px 0;
}
.theme-color .color-1{
    background-color: var(--main-color);
}
.theme-color .color-2{
    background-color: hsl(230, 74%, 61%);
}
.theme-color .color-3{
    background-color: hsl(36, 74%, 61%);
}
.theme-color .color-4{
    background-color: hsl(277, 74%, 61%);
}
.theme-color .color-5{
    background-color: hsl(189, 74%, 61%);
}


/* Header */
.header{
    border-bottom: 1px solid var(--shadow);
}

.header-menu{
    display: flex;
}

.header-logo{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 15px;
}
.header-logo:hover{
    color: var(--main-color); 
}

.header-logo span{
    color: var(--black-90);
}

.header .menu-item{
    display: inline-block;
    margin-left: 40px;
    right: 70px;
    position: relative; 
}

.header .menu-item > a{
    display: block;
    padding: 20px 0;
    font-weight: 400;
    color: var(--black-70);
    text-transform: capitalize;
    transition: color 0.3s ease;
    font-size: 14px;
}

.header .menu-item > a:hover, 
.header .sub-menu-item > a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.header .menu-item > a i{
    font-size: 13px;
    margin-left: 3px;
    pointer-events: none;
}

.header .sub-menu{
    position: absolute;
    top: 100%;
    background-color: var(--WHITE);
    left: 0;
    width: 210px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px hsl(var(--hue-value-1), 40%, 90%);
    transition: all 0.3s ease;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
}

@media(min-width: 992px){
    .header .menu-item:hover > .sub-menu{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

.header .sub-menu-item a{
    display: block;
    padding: 10px 20px;
    color: var(--black-70);
    text-decoration: capitalize;
    font-weight: 400;
    transition: color 0.3s ease;
}

.header-backdrop, 
.header-close-btn,
.header-hamburger-btn{
    display: none;
}


/* Swiper Slide Styling Starts Here */
.swiper-text {
    text-align: justify;
    max-width: 520px;

  }


.swiper {
    width: 420px;
    height: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -200px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    width: 100%;
    max-height: 450px;
    margin-top: 15%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
/*Swiper Slide Styling Ends Here */

/* Tabs Section Styling Starts here */

.tab-container{
    width: 100%;
    margin: 0 auto 3rem auto;
    box-shadow: 0 0.8rem 1rem var(--box-shadow);
}

@media(max-width: 760px){
    .tab-container{
        width: 90%;
    }
}

.tab-filter-container{
    padding: 10px;
    text-align: center;
    background-color: var(--white);
}

.filter-btn{
    display: inline-flex;
    padding: 0.8rem 2.5rem;
    cursor: pointer;
    border-radius: 2rem;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    color: var(--main-color);
}

.filter-btn.active{
    border-bottom: 2px solid var(--main-color);
    border-radius: 0px;
}
.tab-filter-item-container{
    background-color: var(--white);
    margin: 0 auto;
    position: relative;
    height: 30rem;
    overflow: hidden;
}

.tab-item{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    place-items: center start;
}

.tab-item.selected_tab{
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
    animation: fadein 0.5s ease-in-out;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Cards Designing */
.card-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}
.card-container .card1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 270px;
    height: 270px;
    background-color: var(--body-bg-color);
    border-radius: 20px;
    box-shadow: 0 35px 80px var(--box-shadow);
    transition: 0.5s;
}
.card-container .card1:hover{
    height: 350px;
}

.card-container .card1 .card-img{
    position: absolute;
    top: 20px;
    width: 220px;
    height: 200px;
    background-color: var(--white);
    border-radius: 15px;
    transition: 0.5s;
    overflow: hidden;
}
.card-container .card1:hover .card-img{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 35px 80px var(--box-shadow);
}
.card-container .card1:hover .card-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}
.card-container .card1 .card-content{
    position: absolute;
    top: 185px;
    padding: 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transform: 0.5s;
}
.card-container .card1:hover .card-content{
    top: 50px;
    height: 240px;
}
.card-container .card1 .card-content h3{
    font-size: 22px;
    font-weight: 700;
    color: var(--main-color);
}
.card-container .card1 .card-content p{
    font-size: 15px;
    color: var(--black-90);
    text-align: justify;
}
.card-container .card1 .card-content .card-button{
    background-color: var(--main-color);
    color: var(--white);
    position: relative;
    padding: 10px;
    border-radius: 12px;
    transition: 0.5s;
    border: none;
    font-size: 14px;
    font-weight: 700;
}

.card-container .card1 .card-content .card-button:hover{
    background-color: var(--white);
    color: var(--main-color);
    border: 1px solid var(--border-color-1);
}

/* Tabs Section Styling Ends Here */

/* Facts Section Styling Here */

.fact-topic h3{
    font-size: 30px;
    color: var(--main-color);
    margin: 15px auto;
    font-weight: 700;
    text-align: center;
}
.fact-topic p{
    font-size: 15px;
    color: var(--black-90);
    font-weight: 600;
    text-align: center;
}

.fact-section{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    margin-bottom: 50px;
}
.fact-left{
    margin-left: 100px;
}
.fact-right{
    margin-right: 100px;
}
.fact{
    position: relative;
    margin-top: 100px;
    max-width: 1200px;
}
.fact-container{
    padding: 10px 50px;
    position: relative;
    width: 55%;
}
.text-box{
    padding: 20px 30px;
    background: var(--white);
    position: relative;
    border-radius: 8px;
    font-size: 15px;
}
.text-box h3{
    font-size: 20px;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 15px;
}
.text-box p{
    font-size: 14px;
    font-weight: 500;
}

.left-container{
    left: -5%;
}
.right-container{
    left: 50%;
}
.fact-container img{
    position: absolute;
    width: 50px;
    height: 50px;
    right: -25px;
    border-radius: 50%;
    top: 32px;
    z-index: 10;
}
.right-container img{
    left: -25px;
}
.fact::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--main-color);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline 
{
    0%{
        height: 0;
    }    
    100%{
        height: 100%;
    }
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--white);
    right: -15px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--white);
    left: -15px;
}

/* Fact Section Styling Ends Here */


/* Footer Section Styling */
.footer-top{
    padding: 50px 0 20px;
    border-top: 1px solid var(--border-color-1);
}

.footer-item{
    margin: 0 0 30px;
}

.footer-item h3{
    margin: 0 0 20px;
    font-size: 25px;
}

.footer-item h3:hover{
    color: var(--main-color);
    transition: all 0.3s ease;
}

.footer-item .footer-logo{
    color: var(--black-90);
    text-transform: uppercase;
    font-weight: 700;
}

.footer-logo span{
    color: var(--main-color);
    font-weight: 700;
}

.footer-item ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-item ul a{
    color: var(--black-70);
    transition: color 0.3s ease;
    position: relative;
}

.footer-item ul a:hover,
.footer-item ul a .social-icon{
    color: var(--main-color);
}
.footer-item ul a .social-icon{
    margin-right: 5px;
}

.footer-item ul a::before{
    content: ' ';
    left: 0;
    bottom: 0;
    position: absolute;
    width: 0%;
    height: 1.2px;
    transition: width 0.3s ease;
    background-color: var(--main-color);
}

.footer-item ul a:hover::before{
    width: 100%;
}

.footer-bottom{
    text-align: center;
    margin-bottom: 15px;
    color: var(--black-70);
    font-size: 14px;
}

/* Footer Styling Ends Here */


/* Formula-Home Page Styling Starts Here */
.formula-section{
    padding: 20px;
}
.formula-section h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.formula-container{
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 40px;
    margin-top: 65px;
    margin-bottom: 20px;
}
.formula_left p{
    text-align: justify;
    margin: 60px auto;
}
.formula_right .formula{
    margin-top: 100px;
}

.formula_right .formula li{
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 15px;
    width: 50%;
    margin: 20px auto;
}
.formula_right .formula li a{
    color: white;
}


.tools{

    margin: 75px auto;
}
.tools .tools-header h3{
    font-size: 30px;
    font-weight: 600;
    color: var(--main-color);
    text-align: center;
}
.tools .tools-header p{
    font-size: 15px;
    color: var(--black-90);
    font-weight: 700;
    text-align: center;
}
.tools-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 60px;
}
.tools-container .tools-card{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 160px;
    height: 160px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 50px 80px var(--box-shadow);
    transition: 0.5s;
}

.tools-container .tools-card .tools-img{
    position: absolute;
    top: 20px;
    width: 90px;
    height: 90px;
    background-color: var(--white);
    border-radius: 15px;
    transition: 0.5s;
    overflow: hidden;
}

.tools-container .tools-card .tools-content{
    position: absolute;
    top: 155px;
    padding: 30px;
    height: 35px;
    text-align: center;
    transform: 0.5s;
}
.tools-container .tools-card .tools-content h3{
    margin-top: -70px;
    font-size: 15px;
    font-weight: 700;
}
/* Formula-Home Page Styling Ends Here */

.physics-section,
.math-section{
    padding: 20px;
}
.physics-section .phy-header h3,
.math-section .math-header h3{
    line-height: 1;
    font-size: 25px;
    text-align: center;
    color: var(--main-color);
    font-weight: 700;
    margin: 20px;
}
.phy-header p,
.math-header p{
    font-size: 18px;
    color: var(--black-90);
    text-align: center;
}

.phy-container,
.math-container{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.phy-left .heading h3,
.phy-right .heading h3{
    text-align: justify;
    margin: 20px;
    font-size: 18px;
    font-weight: 600;
    color: var(--main-color);
    background-color: var(--border-color-2);
    padding: 10px;
}
.phy-left .heading .mini-heading,
.phy-right .heading .mini-heading{
    background-color: var(--white);
    padding: 20px;
    text-align: justify;
    margin: 20px;
}
.phy-left .heading .mini-heading h4,
.phy-right .heading .mini-heading h4{
    background-color: var(--border-color-1);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--black-70);
}
/* .phy-left .heading .mini-heading p,
.phy-right .heading .mini-heading p{
    padding: 10px;
    font-size: 14px;
    color: var(--black-90);
} */
.phy-left .heading .mini-heading img,
.phy-right .heading .mini-heading img{
    margin: 10px 0px 10px 0px;
}

/* bubble Styling */
.circle{
    background-color: var(--main-color);
    top: -8%;
    position: absolute;
    left: 7%;
    opacity: 0.4;
    width: 140px;
    height: 140px;
    z-index: -1;
    border-radius: 50%;
}

/*Periodic Table Styling */
.theader{
    color: var(--main-color);
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    margin: 40px;
}
#periodic-table
{
    justify-content: center;
    margin-left: 5%;
    width: 90%;
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(7, 1fr)
		[separator-start] 0.25fr
		[separator-end lanthanides-start] 1fr
		[lanthanides-end actinides-start] 1fr
		[actinides-end];
	grid-gap: 0.125em;
	list-style: none;
	padding: 0;
	font: 1em/1 Calibri, sans-serif;
	counter-reset: atomic-number;
    margin: 50px auto;
}

#periodic-table li a{
    text-decoration: none;
    color: var(--WHITE);
}
#periodic-table li
{
	background: var(--main-color);
	color: var(--WHITE);
	padding: 0.5em 0.125em;
	text-align: center;
	counter-increment: atomic-number;
    border-radius: 8px;
    margin: 0px;
}

#periodic-table li:nth-of-type(2)
{
	grid-column: 18;
}

#periodic-table li:nth-of-type(5),
#periodic-table li:nth-of-type(13)
{
	grid-column: 13;
}

#periodic-table li:nth-of-type(n+58):nth-of-type(-n+71)
{
	grid-row: lanthanides;
}

#periodic-table li:nth-of-type(n+90):nth-of-type(-n+103)
{
	grid-row: actinides;
}

#periodic-table::before
{
	content: '';
	grid-row: lanthanides / actinides;
	grid-column: 1 / span 3;
}

@media (min-width: 60em)
{
	#periodic-table li::before
	{
		content: counter(atomic-number, decimal);
		font-feature-settings: 'subs';
	}
}

@media (min-width: 72em)
{
	#periodic-table li
	{
		font-size: 1.2em;
	}
	
	#periodic-table li::after
	{
		content: attr(title);
		display: block;
		margin-top: 0.5em;
		font-size: 0.5em;
	}
}

@media (min-width: 90em)
{
	#periodic-table li
	{
		font-size: 1.5em;
	}
}
/* Ends Here */

/* Calculator Styling Starts */
/* Calculato Styling Ends Here */

/* Units Styling */
.units-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
  }
  .unit-header{
    color: var(--main-color);
    font-weight: 700;
    text-align: center;
    margin: 30px;
  }

  .units-card{
    width: calc(33% - 40px);
    margin: 10px;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 var(--box-shadow);
    border-radius: 10px;
  }
  .units-card h2{
    font-size: 20px;
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 12px;
  }
  .units-card p{
    font-size: 15px;
    color: var(--black-90);
  }

  /* CSS for responsive design */
  @media screen and (max-width: 960px) {
    .units-card{
      width: calc(50% - 20px);
    }
  }

  @media screen and (max-width: 600px) {
    .units-card{
      width: 100%;
    }
  }

  .dropdown-container{
    margin-bottom: 20px;
  }
  .dropdown{
    width: 300px;
    margin: 20px;
    padding: 10px;
    left: 72%;
  }

  .dropdown select,
  .dropdown-physics select{
    width: 100%;
    padding: 8px;
    border: 1px solid var(--white);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--white);
    color: var(--main-color);
  }
  .dropdown-container .dropdown-physics{
    width: 300px;
    padding: 10px;
    margin-left: 70%;
  }

.conversion-formula{
    margin-top: 10px;
}
.conversion-formula select{
    border-radius: 4px;
    color: var(--main-color);
    background-color: var(--WHITE);
    padding: 10px;
}

/* Facts Pages Styling */

.all_facts_container h2{
    margin: 30px 30px 10px 30px;
    font-size: 30px;
    padding: 30px;
    font-weight: 700;
    text-align: center;
    color: var(--main-color);
}
.all_facts_container p{
    text-align: center;
    font-weight: 700;
    color: var(--black-90);
    margin-bottom: 35px;
}
.facts_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.facts_card {
    background-color: var(--WHITE);
    border-radius: 8px;
    padding: 20px;
    flex-basis: calc(33.33% - 62px);
    text-align: center;
    margin-bottom: 20px;
}

.facts_card img,
.science_card img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.facts_card h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: var(--main-color);
}

.facts_card p{
    color: var(--black-90);
    font-weight: 500;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .facts_card {
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .facts_card {
        flex-basis: 100%;
    }
}
/* Ends Here */


/* Common Facts Styling */
.info_container{
    display: flex;
    flex-wrap: wrap;
    margin: 45px;
}

.fact_text{
    flex: 1 0 70%; /* Adjust the width as needed */
    padding: 40px;
    text-align: justify;
}

.fact_image {
    flex: 1 0 30%; /* Adjust the width as needed */
    text-align: center;
    padding: 40px;
    margin-top: 6%;
}

img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .fact_text, .fact_image {
        flex: 1 0 100%;
    }
}
/* Ends Here */


/* scientific Facts Styling */
.s_heading{
    text-align: center;
    margin: 45px 35px 35px 35px;
}
.s_heading h1{
    font-size: 30px;
    color: var(--main-color);
    font-weight: 600;
}
.s_heading p{
    font-weight: 700;
    color: var(--black-90);
    font-size: 16px;
}

.all_sfacts_container{
    margin: 35px;
}
.scientist_facts_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.scientist_card {
    background-color: var(--WHITE);
    border-radius: 8px;
    padding: 20px;
    width: calc(45% - 15px);
    text-align: center;
    margin: 20px;
    color: var(--black-90);
}

.scientist_card img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.scientist_card h2 {
    color: var(--black-90);
    font-size: 24px;
    margin-bottom: 5px;
}

.scientist_card h3 {
    color: var(--black-90);
    font-size: 18px;
    margin-bottom: 10px;
}
.scientist_card .date{
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}

.scientist_card p,
.science_card p{
    color: var(--black-90);
    font-size: 14px;
    margin-bottom: 10px;
    text-align: justify;
}

.scientist_card a {
    color: var(--black-90);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .scientist_card {
        width: 100%;
    }
}

/* Science Facts Starts Here */
.select-container{
    text-align: right;
    margin-right: 6%;
}
#factSelect,
#topic_select{
    border-radius: 8px;
    width: 25%;
    color: var(--main-color);
    padding: 12px;
}
.science_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.science_card {
    background-color: var(--WHITE);
    border-radius: 8px;
    padding: 20px;
    width: calc(45% - 37px);
    text-align: center;
    margin: 20px;
    color: var(--black-90);
}

.science_card h2 {
    color: var(--black-90);
    font-size: 24px;
    margin-bottom: 20px;
}

.science_card ul {
    padding: 20px;
    list-style-type: upper-alpha;
    text-align: justify;
}

.science_card a {
    text-decoration: none;
    color: var(--main-color);
}

@media only screen and (max-width: 768px) {
    .science_card {
        width: 100%;
    }
}

/* Earth Facts Styling */

.earth_card {
    background-color: var(--WHITE);
    border-radius: 8px;
    padding: 20px;
    width: calc(45%-37px);
    text-align: center;
    margin: 10px;
    color: var(--black-90);
}

.earth_card h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.earth_card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.earth_card a {
    color: var(--main-color);
    text-decoration: none;
}

@media (min-width: 768px) {
    /* For tablets and larger screens */
    .earth_container {
        display: flex;
        flex-wrap: wrap;
    }

    .earth_card {
        width: calc(50% - 60px);
        margin: 30px;
    }

    .earth_card:nth-child(2n) {
        margin-right: 0;
    }
}


/* Nature Facts Styling */
.nature_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .nature_card_item {
    flex-basis: 40%;
    padding: 20px;
    border: 1px solid var(--border-color-1);
    border-radius: 8px;
    margin: 30px 65px 20px 65px;
    background-color: var(--WHITE);
  }

  .nature_card_item h2 {
    margin-top: 0;
    font-size: 30px;
  }

  .nature_card_item ul {
    margin: 0;
    padding: 20px;
    list-style-type:circle;
  }

  .nature_card_item li {
    margin-bottom: 5px;
  }

  .dashboard{
    padding: 30px;
    margin-left: 5%;
  }
  .dashboard h2{
    font-size: 15px;
    font-weight: 600;
    margin: 20px 0 20px 0;
  }
  .dashboard h3{
    font-size: 30px;
    color: var(--main-color);
    margin-bottom: 20px;
  }
  .dashboard p{
    margin: 0px;
  }

/* Course Upload Section Styling */
.course_upload{
    text-align: center;
}
.upload_header{
    color: var(--main-color);
    font-size: 30px;
    margin: 30px;
    font-weight: 600;
    text-align: center;
}
.c_upload_form {
    margin-bottom: 20px;
    border: 1px solid var(--border-color-1);
    padding: 30px;
    border-radius: 8px;
  }

  .c_upload_form input[type="text"],
  .c_upload_form textarea,
  .c_upload_form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
  }

  .c_upload_form input[type="file"] {
    margin: 20px 0px 20px 0px;
  }

  .c_upload_form input[type="submit"] {
    background-color: var(--main-color);
    color: var(--WHITE);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0px 30px 0px;
    text-align: center;
  }

  .success-message {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    background-color: green;
    padding: 20px;
    color: white;
  }

  .view-courses-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  /* Ends Here */

/* Course Card Container Styling Starts */
.view_header{
    color: var(--main-color);
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.view_cat{
    color: var(--main-color);
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
    text-transform: capitalize;
}
.course_view_section h1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
}

.course_card_container {
    display: flex;
    flex-wrap: wrap;

  }

  .course_card {
    width: calc(25% - 55px);
    padding: 10px;
    border: 1px solid var(--border-color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    margin: 50px 20px 40px 30px;
  }
  .course_card h2{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
  }
  .course_card h3{
    font-size: 15px;
    padding: 2px;
    text-align: justify;
  }

  .course_card img {
    max-width: 100%;
    max-height: 100px;
    object-fit: cover;
  }

  @media screen and (max-width: 768px) {

    .course_card {
        max-height: 600px;
      width: calc(50% - 20px);
      text-align: center;
    }

    .dashboard{
        text-align: center;
    }
  }

  @media screen and (max-width: 480px) {
    .course_card {
      width: 100%;
    }
  }
/* Course Card Container Styling Ends */

/* Course Details Styling */
.course_container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
  }
.course_heading{
    color: var(--main-color);
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    font-weight: 600;
}
.course_heading2{
    color: var(--black-90);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    max-width: 1000px;
    margin: 5px auto;
    padding: 20px;
}

 .course_container section {
    margin-bottom: 40px;
  }

  .course_content{
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
 .course_content1{
    text-align: center;
    width: 100%;
    vertical-align: top;
  }
  .course_content p,
  .course_content1 p{
    font-size: 15px;
    
    text-align: justify;
  }
  .course_image{
    display: inline-block;
    width: 40%;
    text-align: right;
    margin-left: 70px;
    border-radius: 12px;
    vertical-align: top;
    margin-top: 25%;
  }
  .course_image1{
    display: inline-block;
    width: 100%;
    text-align: center;
    border-radius: 12px;
    vertical-align: top;
  }

  .course_image img{
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin-top: 25%;
  }
  .course_image1 img{
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
  .course_download_link{
    text-decoration: none;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    border: 1px solid var(--border-color-1);
  }

  @media screen and (max-width: 600px) {
    .course_content,
    .course_content1,
    .course_image,
    .course_image1{
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  /* Course details Styling Ends Here */
  /*programming for (5-8) start here*/
/* .programming_5{
    padding: 0 10%;
    margin-top: 60px;
}
.container_prog_5{
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}
.container_prog_5 ul{
    text-align: center;
}
.container_prog_5 ul li{
    display: inline-block;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: 550;
    color: #000;
}
.container_prog_5 ul li:hover{
    text-decoration: underline;
}
.programming-body{
    padding: 0 10%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.container-prog-body{
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}
.container-prog-name1{
    display: grid;
    grid-template-columns: 20% 30% 30% auto;
    border-top: 1px solid var(--border-color-1);
    padding: 10px;
}
.container-prog-name1 a{
    color:#000;
    text-decoration: underline;
} */
/*programming for (5-8) end here*/

/* Feedback modal in home page */
/* Modal styles */
.modal{
    display: none;
    position: fixed;
    text-align: center;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content{
    background-color: #fff;
    max-width: 40%;
    margin: 10% auto;
    padding: 40px;
    border-radius: 8px;
    background-color: var(--body-bg-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }
  .modal-content h4{
    font-size: 30px;
    color: var(--main-color);
    text-align: center;
    font-weight: 600;
  }

  .modal-content .feedback_list{
    list-style-type: disc;
    text-align: left;
  }

  .modal-content .understood{
    margin-top: 20px;
  }
  
  .close {
    color: var(--main-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
/*calculator starts from here*/
.calculator {
    width: 400px;
    border: 1px solid #f0e6e6;
    padding: 10px;
    margin: 0 auto;
    background-color: #F4F1F1;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 40px;
    margin-top: 10px;
    box-shadow: 0 0 2px 1.5px gray;
  }

  .calculator .result {
    font-size: 24px;
    text-align: right;
    padding: 5px;
    border: 1.5px solid black;
    background-color: rgb(255, 249, 249);
    border-radius: 5px;
    height: 90px;
    font-weight: 600;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
  }

  .button {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-weight: 700;
  }
  .button1 {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: orange;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-weight: 700;
  }
  .button2 {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(8, 210, 8);
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 700;
    color: black;
  }
  .button3 {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 700;
    color: black;
  }
  .button4 {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(221, 217, 217);
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 700;
    color: black;
  }
/* QUiz Section Starts Here */
.quiz-title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: var(--main-color);
    margin-top: 40px;
}

.quiz-score{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    border: 5px solid var(--border-color-1);
    width: 100px;
    height: 50px;
    margin: 20px auto;
    color: var(--main-color);
}

.quiz-question{
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 20px;
}
.quiz-question .category{
    font-size: 16px;
    font-weight: 600;
    background-color: var(--white);
    color: var(--main-color);
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}
.quiz-options{
    list-style-type: none;
    margin-left: 25%;
    width: 50%;
}
.quiz-options li{
    font-size: 16px;
    border-radius: 10px;
    margin: 0.7rem 0;
    padding: 0.4rem 1.2rem;
    text-align: center;
    cursor: pointer;
    border: 3px solid var(--border-color-1);
    background-color: var(--main-color);
    color: var(--white);
}

.quiz-options li:hover{
    background-color: var(--white);
    color: var(--main-color);
    box-shadow: 0 4px 0 0 #bbb;
}

.quiz-options li:active{
    transform: scale(0.9);
}

.quiz-options li.selected{
    background-color: var(--yellow-light)!important;
    color: var(--black-90)!important;
    font-weight: 700;
}

.quiz-foot button{
    border: none;
    border-radius: 0.5rem;
    font-size: 16px;
    padding: 12px 8px;
    cursor: pointer;
    margin: 20px auto;
    text-align: center;
    display: block;
    background-color: var(--main-color);
    color: var(--white);
    letter-spacing: 2px;
}

.quiz-foot button:hover{
    background-color: var(--white);
    color: var(--main-color);
}
#play-again{
    display: none;
}

#result{
    padding: 0.7rem 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}
#result i{
    width: 30px;
    height: 30px;
    
    border-radius: 50%;
    margin: 10px 0 0 0;
    line-height: 30px;
    background-color: var(--main-color);
    color: var(--white);
}

@media(max-width: 678px){
    .quiz-title{
        font-size: 20px;
    }
    .quiz-section{
        margin: 3rem 0;
        width: 90%;
        padding: 1.5rem 1rem 3rem 1rem;
        border-radius: 12px;
    }
    .quiz-foot button{
        font-size: 14px;
    }
}

/* Quote Generator */

.quote_container {
    text-align: center;
    max-width: 400px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: fit-content;
}

.quote_container h3 {
    text-align: center;
    font-size: 16px;
}


button {
    padding: 10px;
    background-color: var(--white);
    color: var(--main-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: var(--main-color);
    color: var(--white);
}
#quoteResult{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--main-color);
}

/* Quote Generator Ends Here */


/* Admin Dashboard Styling */
.d_container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
  }
  
  .d_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .d_card {
    background-color: var(--white);
    border: 1px solid var(--border-color-1);
    border-left: 5px solid blue;
    padding: 20px;
    border-radius: 8px;
  }
  
  .d_card h2 {
    font-size: 20px;
    margin-top: 0;
  }
  
  .d_card img {
    max-width: 20%;
    height: auto;
    float: right;
    top: auto;
    overflow: hidden;
    border-radius: 8px;
  }

.calendar {
    margin-top: 50px;
  }
  
  .calendar-container {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .prev-btn,
  .next-btn {
    cursor: pointer;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .weekday {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid #ddd;
  }
  
  .calendar-day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .calendar-day:hover {
    background-color: #f2f2f2;
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .d_cards {
      grid-template-columns: 1fr;
    }
  }
  
/* Admin Dashboard Styling Ends Here */

/* Video Design */
/* Basic styles for the card layout */
.video-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 5% 10px 5%;
}

.video-card {
    width: 48%; /* Adjust this value as needed to create the desired gap between the cards */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
}
.video-card h4{
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    color: var(--main-color);
    font-weight: 600;
}
.video-card p{
    text-align: justify;
    font-size: 14px;
    color: var(--black-70);
    margin-bottom: 15px;
}

/* Style the iframe to make the videos responsive */
.video-card iframe {
    display: block;
    max-width: 100%;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
}
/* ends here */


/* Responsive Design */
@media(max-width: 1190px){
    .container{
        max-width: 100%;
        --bs-gutter-x: 30px
    }
}

@media(max-width: 991px){
    .header{
        padding: 12px 0;
    }
    .header-backdrop,
    .header-close-btn,
    .header-hamburger-btn{
        display: block;
    }
    .header-hamburger-btn{
        height: 34px;
        width: 40px;
        cursor: pointer;
        border: 0;
        right: 15px;
        position: fixed;
        background: transparent;
        transition: all 3s ease;
    }
    .header-close-btn{
        height: 40px;
        width: 40px;
        background-color: var(--main-color);
        position: absolute;
        right: 15px;
        top: 15px;
        color: var(--WHITE);
        border: 0;
        cursor: pointer;
        border-radius: 8px;
        transition: all 0,5s ease;
    }
    .header-backdrop{
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: all 1s ease;
        background-color: var(--white);
        visibility: hidden;
    }

    .header-hamburger-btn span{
        display: block;
        height: 2px;
        width: 24px;
        position: relative;
        margin: auto;
        background-color: var(--black-70);
    }
    .header-hamburger-btn span::before,
    .header-hamburger-btn span::after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        color: var(--black-70);
    }
    .header-hamburger-btn span::before{
        top: -7px;
    }
    .header-hamburger-btn span::after{
        top: 7px;
    }
    .header-menu{
        position: fixed;
        width: 400px;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 1000;
        padding: 70px 0 50px 80px;
        transition: all 0.5s ease;
        background-color: var(--white);
        box-shadow: var(--shadow);
        overflow-y: auto;
        visibility: hidden;
    }
    .header-menu.open{
        right: 0;
        visibility: visible;
    }
    .header .menu-item{
        display: block;
        margin: 0;
    }
    .header .menu-item.active > a i{
        transform: rotate(-180deg);
    }
    .header .menu-item > a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 15px;
        border-bottom: 1px solid var(--border-color-1);
    }
    .header .menu-item:first-child > a{
        border-top: 1px solid var(--border-color-1);
    }
    .header .sub-menu{
        position: relative;
        width: 100%;
        opacity: 1;
        visibility: hidden;
        box-shadow: none;
        top: auto;
        transform: translateY(0);
        padding: 0;
        border-radius: 0;     
        overflow: hidden;
        max-height: 0;
    }
    .header .sub-menu-item{
        visibility: visible;
    }
    .header .sub-menu-item a{
        padding: 12px 45px;
        border-bottom: 1px solid var(--border-color-1);
    }
    .sticky{
        width: 100%;
    }
}

@media(max-width: 767px){
    
}

@media(max-width: 575px){
    
}